streamlit==1.32.0
pandas==2.2.0
openpyxl==3.1.2
plotly==5.18.0
numpy==1.26.3
scikit-learn==1.4.0
streamlit-authenticator==0.2.3
networkx==3.2.1
statsmodels==0.14.1
prophet==1.1.5
seaborn==0.13.1
requests
streamlit-aggrid
pytesseract
opencv-python
scikit-image
Pillow
python-dotenv
python-Levenshtein
scipy
PyMuPDF
fuzzywuzzy
